@model IEnumerable<BookApp.Models.Book>

@{
    ViewBag.Title = "Books List";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Books List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            <input type="button" class="btn" value="Details" onclick="location.href='@Url.Action("Details", "", new { BookID = item.ID })'" />
            <!-- @Html.ActionLink("Details", "Details", new { id = item.ID })-->
        </td>
    </tr>
}

</table>
